@charset "utf-8";

.bg-grey {
	background-color: #EEE;
}

.italic-text {
	font-style: italic;
	font-size: 50px;
}

.image-size {
	width: 1000px;
	height: 1000px;
}

.image-margin {
	margin-left: 120px;
	margin-right: 120px;
}	

.details {
	font-weight: bold;
	font-size: 25px;
	text-align: justify;
	padding-left: 200px;
}

.list {
	text-align: justify;
	padding-left: 250px;
}

.tang {
	font-size: 50px;
	font-family: Tangerine, cursive;
}

#bio {
	margin: 40px 40px 20px 40px;
	padding-bottom: 30px;
}

#crisron {
	font-family: 'Lobster', Monospace;
	font-size: 100px;
}

#qot {
	text-align: justify;
	padding-left: 250px;
	font-family: "Lucida Console", Monaco, monospace;
	font-size: 20px;
}