@charset "utf-8";

.italic-text {
	font-style: italic;
	font-size: 50px;
}

.details {
	font-size: 25px;
	text-align: justify;
	padding-left: 200px;
}

.list {
	text-align: justify;
	padding-left: 250px;
}

.tang {
	font-size: 50px;
	font-family: Tangerine, cursive;
}

#bio {
	margin: 40px 40px 20px 40px;
	padding-bottom: 30px;
}

#crisron {
	font-family: 'Lobster', Monospace;
	font-size: 100px;
}

#qot {
	text-align: justify;
	padding-left: 250px;
	font-family: "Lucida Console", Monaco, monospace;
	font-size: 20px;
}