@charset "utf-8";

.bg-grey {
	background-color: #EEE;
}

.bg-white {
	background-color: #FFF;
}

.italic-text {
	font-style: italic;
}

.image-size {
	width: 1000px;
	height: 1000px;
}

.image-margin {
	margin-left: 120px;
	margin-right: 120px;
}	

.details {
	font-weight: bold;
	font-size: 25px;
	text-align: justify;
	padding-left: 200px;
}

.list {
	text-align: justify;
	padding-left: 250px;
}

#bio {
	margin: 40px 40px 20px 40px;
}

#crisron {
	font-family: Lobster, Monospace;
	font-size: 100px;
}